<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit&display=swap"
      rel="stylesheet"
    />
    <title>SAMTA SNATKOTTAR MAHAVIDYALAYA, SADAT, GHAZIPUR </title>
  </head>
  <body>
    <header>
      <div class="image-container">
        <img src="/images/vbspu-logo.png" alt="logo.png" />
      </div>
      <div class="name-container">
        <p id="p1">SAMTA SNATKOTTAR MAHAVIDYALAYA, SADAT, GHAZIPUR </p>
        <br />
        <p id="p2">Sem & Year Exam Result Download</p>
        <br />
        <p id="p3">ESTABLISHED IN YEAR 2012</p>
      </div>
    </header>
    <main>
      <form action="result" method="post" class="view-pdf">
        <label for="search">Examination Enrollment/Roll No:</label>
        <input
          type="search"
          name="search-result"
          id="search-box"
          required
        />
        <button type="submit">SHOW</button>
      </form>
    </main>
    <footer>
      <div class="footer-text">
        <p id="pf1">
          If Your Result Not Showing Please Send Your Document For Verification
        </p>
        <p id="pf2">
          <span id="span">Disclaimer: </span>405,SAMTA SNATKOTTAR MAHAVIDYALAYA, SADAT, GHAZIPUR is not responsible for any inadvertent error that
          may have crept in the results being published on NET. The results
          published on net are for immediate information to the examinees.
        </p>

        <p id="pf3">
          These cannot be treated as original mark sheets. Original mark sheets
          have been issued by the University separately
        </p>
        <div class="anchor-tag">
          <a href="#">SAMTA SNATKOTTAR MAHAVIDYALAYA, SADAT, GHAZIPUR</a>
        </div>
      </div>
    </footer>
  </body>
</html>
