<!DOCTYPE html>
<html>
<head>
  <title>Result</title>
  <link rel="stylesheet" href="css/result.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <h1 style="text-align: center;">Result</h1>
  <embed id="pdfObject" src="<%= pdfUrl %>#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0" type="application/pdf" width="60%" height="600px" frameBorder ="0">
</body>
</html>
