<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
</head>
<body>
  <h1>Search Results</h1>
  <% if (files.length > 0) { %>
    <ul>
      <% files.forEach(function(file) { %>
        <li><a href="/result?filename=<%= file.filename %>"><%= file.filename %></a></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No results found.</p>
  <% } %>
</body>
</html>
